<div class="card">
  <div class="card-header">
    <h4>Sobre</h4>
  </div>
  <div class="card-body">
	<p>Aplicação do curso "Learn Ruby on Rails" do John Elder (<a href="http://www.twitter.com/flatplanet">@flatplanet</a>)</p>
	<br/>
	<p>Realizada por José Roberto Januário Colabono (<a href="http://www.twitter.com/chewzeh">@chewzeh</a>) que faz estagio no setor de Desenvolvimento na Leavening - Pompéia/SP</p>
  </div>
</div>

